body {
    font-family: 'Work Sans', sans-serif;
}


/* -----------------1st steps "Headline"
           -------------------*/


.header {
    display: flex;
    justify-content: center;
    background: rgba(255, 144, 14, 0.1);
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.g3-architect {
    font-size: 45px;
    line-height: 53px;
    margin-left: 400px;

}

.site-bar {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
    gap: 70px;
    margin-right: 400px;

}

/*------------ 2nd steps "Banner"
                ------------------ */



.text-style {
    display: flex;
    justify-content: center;
}

.text {
    width: 862px;
    height: 225px;
    line-height: 75px;
    text-align: center;
    align-items: center;

}

.text-1 {
    font-size: 64px;
    line-height: 75px;
}

.text-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;

}

.button-1 {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background: #FF900E;
    text-align: center;

}

.image-1 {
    width: 1270px;
    height: 650px;
    border-radius: 8px;
    padding-top: 250px;
    padding-bottom: 30px;
    margin-left: 400px;
    margin-right: 400px;
}


/*----------- 3rd steps "Team Banner"
               ------------------ */


.team-banner {
    display: flex;
    justify-content: center;
}

.team-image-style {
    width: 620px;
    height: 620px;
    padding-top: 108px;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.team-text {
    width: 420px;
    height: 304px;
    padding-top: 225px;
    padding-left: 153px;
}

.team-text-1 {
    font-weight: 500;
    font-size: 45px;
    
}

.team-text-2 {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 25px;
    color: #727272;
}

.quick {
    color: #727272;
}

.of {
    color: #131313;
}

.features {
    color:
        #FF900E;
}


/*---------- 4th steps "Details Information" 
              -------------------*/


.article {
    display: flex;
    padding-bottom: 20px;
}

.article-style {
    background-color:rgb(251, 248, 248);
    display: flex;
    justify-content: center;
    margin-top: 160px;
}

.article-text-1 {
    font-size: 45px;
    width: 468px;
    height: 106px;
}

.article-text-style {
    width: 500px;
    height: 120px;
    border-radius: 10px;
    background-color: white;
    text-align: center;

}

.article-text-2 {
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    width: 506px;
    height: 78px;

}

.article-text-3 {
    font-weight: 600;
    font-size: 20px;
    padding-top: 15px;
}

.architect-image {
    width: 508px;
    height: 750px;
    padding-left: 110px;
}

.button-style {
    display: flex;
    justify-content: center;

}

.button2 {
    font-size: 58px;
    line-height: 65px;
    text-align: center;
    color: white;
    background: #FF900E;
    width: 300px;
    height: 180px;
    border-radius: 8px;
    margin-top: -195px;
    margin-left: 235px;
}


/*------------- 5th Steps "Some Fact"
             --------------------- */


.some-fact-text {
    margin-left: 175px;
    margin-top: 100px;
   
}

.some-fact-text1 {
    font-size: 45px;
}

.some-fact-text2 {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 542px;
    height: 52px;
}

.icon-style {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 90px;
}

.icon {
    width: 220px;
    height: 220px;
    border: 3px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    margin: 60px;
    transition: width 1s, height 5s, transform 1s ;
   

}
.icon:hover{
    width: 252px;
    height: 252px;
    border: 7px dotted red;
    transform: rotate(-60deg);
    background-color:chartreuse; 
    }

.icon-image {
    padding-top: 40px;
}

.number {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    padding: auto;
    margin-top: 5px;

}

.number-text {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin-top: -40px;
    
}


    /*------------------- 6th steps "Sponspors"
              ------------------- */

.sponsors-style{
    display: flex;
    justify-content: center;
    
    
}
.sponsors{ 
   text-align: center;
   width: 542px;
height: 129px;
margin-top: 355px;
   
}
.sponsors-text-1{
    font-size: 45px;
}
.sponsors-text-2{
    font-size: 16px;
    color: #727272;
    margin-top: -20px;

}

.sponsors-image{
   display: flex;
   justify-content: center;
   gap: 160px;
   margin-top: 100px;
}



     /* -------------7th steps "Address"
     -------------------------- */



.footer{
width: 100%;
height: 450px; 
background-color: #ebc08f ; 
display: flex;
justify-content: space-between;
margin-top: 100px;
}

.address{
    color:black;
    font-size: 55px;
    font-weight:100;
    margin-left: 260px;
    margin-top: 40px;
}
.address-more{
    color: white;
    font-size: 20px;
    margin-left: 200px;
    margin-top: -20px;
}
.touhid{
    color: red;
    font-size: 40px;
}
.ceo{
    color:azure;
}
.input{
    font-size: 35px;
    color: #131313;
}
.form{ 
  display: flex;
  flex-direction: column;  
  gap: 40px;
  align-items: center;
  margin-top: 110px;
  margin-right:250px ;
}



.last1{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 150px;
}
.last{
    width: 1250px;
height: 90px;
background: rgb(221, 188, 193);
border-radius: 8px;
text-align: center;


}
.last-p{
    font-weight: 400;
font-size: 20px;
color: #424242;
padding-top: 12px;

}
             

